/*Color scheme:

Base color: #428BCA
darker blue: #393BFD
purple: #494964
Salmon-ish: #D1A378
Orange: #FD7B39
-Brendan
*/

html,body {
    height: 100%;
    background-image :url(../media/images/dark_wood.jpg);
   
}
#nav_title {
	color: #35C0FF !important;
	
}
#nav_title:hover {
	color:  #179bd7 !important;
	
}

#main_container {
    padding: 0px;
    margin-top: 50px;
    background-color: #F5F5F3 !important;
    margin-bottom: 1px;
     min-height: 100%;
    height: auto !important;
    margin: 0 auto -140px;
}
#content {
    padding-left: 10px;
    padding-right: 10px;
}
img {
    max-width: 100%;
}
.bookcase {
    width: 75px;
}
 /*
  background: -webkit-linear-gradient(#222222, #FAFAFA); /* For Safari 5.1 to 6.0 */
 /* background: -o-linear-gradient(#222222, #FAFAFA); /* For Opera 11.1 to 12.0 */
 /* background: -moz-linear-gradient(#222222, #FAFAFA); /* For Firefox 3.6 to 15 */
 /* background: linear-gradient(#222222, #FAFAFA); /* Standard syntax */ 
 #navbar {
     margin-bottom: 0px;
 }
.navbar-default .navbar-nav>li>a {
   font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #D1A378;
  
}

#carousel h3{
    color: #fff;
   text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
h3 {
    color: #fea273;
    //text-shadow: 0 2px 1px rgba(0,0,0,.6);
}

a:hover {
    color: #393BFD;
}
#thumbail {
  max-width:250px ;  
}
.orange{
color: #ED5715;
}
.blue{
color: #4074A4;
}
.green{
color: #A4C495;
}
.red{
color: #E6111F;
}
.teal{
  color: #75B6B2;
}
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #F0AD4E;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #5BC0DE;
}
.bs-callout-danger h4 {
color: #B94A48;
}

.bs-callout-warning h4 {
color: #C09853;
}

.bs-callout-info h4 {
color: #3A87AD;
}
.push,.footer_container {
    height: 120px;
    width: 100%;
}
#footer{
    margin-top: 20px;
    margin-bottom: 0;
}